

body {
    background-image: url(../lista/imagenes/759d85ba2ef14276c41e66162e06a8b4.jpg);
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #bca0fc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

input,
textarea,
button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5px;
}

button {
    background-color: #8888a7;
    color: #3e3c3c;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #286469;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
   

}

.completed {
    background-color: #cfa5dd;
    color: #d851e2;
}


