
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body{
    background-image: url(../lista/imagenes/759d85ba2ef14276c41e66162e06a8b4.jpg);
}

.header{
    background-image: url(../lista/imagenes/759d85ba2ef14276c41e66162e06a8b4.jpg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 95px;
    width: auto;
    
}   

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    text-decoration: none;    
}

.header .nav-links li a:hover{
    color: #000000;
}

.header .btn button{
    font-weight: 700;
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{

    transform: scale(1.1);
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #bca0fc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

input,
textarea,
button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5px;
}

button {
    background-color: #8888a7;
    color: #3e3c3c;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #286469;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
   

}

.completed {
    background-color: #cfa5dd;
    color: #d851e2;
}


